{% extends 'base.html' %}

{% block title %}
    {{category.title}}
{% endblock %}


{% block sidebar %}
    <div class="col-md-4">
      <div class="list-group">
        {% for cat in categories %}
          <a href="{% url 'category' cat.pk %}" class="list-group-item list-group-item-action">{{cat.title}}</a>
        {% endfor %}
      </div>
    </div>
{% endblock %}


{% block content %}
    {% for i in news %}
    <div class="col-md-8">
    <div class="card mt-2">
      <div class="card-header">Категория: {{i.category}}</div>
      <div class="card-body">

        <h5 class="card-title">{{i.title}}</h5>
                <div class="media">
          {% if i.photo %}
            <img src="{{i.photo.url}}" width="350" class="mr-3">
          {% endif %}
        </div>
        <p class="card-text">{{i.content}}</p>
        <a href="#" class="btn btn-primary">Читать...</a>
      </div>
      <div class="card-footer text-muted">
        {{i.created_at|date:'Y-m-d'}}
      </div>
    </div>
  </div>
    {% endfor %}
{% endblock %}


